/* ===========================
common
============================ */
body {
    color: #303030;
    line-height: 1.5;
    height: 100%;
    margin: 0px;
    padding: 0px ;
    /* font-family: 'Montserrat', sans-serif; */
}

.container {
    width: 60%;
    max-width: 980px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.7;
}

h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;
}

p {
    text-align: center;
}

/* ===========================
header
============================ */

header {
    display: flex; 
    height: 60px;
}

/* ===========================
main
============================ */

.main {
    background-image:url(../img/background.png);
    background-size: cover;
    height: 716px;
}

.main-copy {
    font-size: 22px;
}

.logo_image {
    height: 62px;
    width: 62px;
}

.main-title {
    display: block;
}

.see {
    font-size: 22px;
    font-weight: 400;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: #3B4FFF;
    color: #ffffff;
    font-weight: 800;
    font-size: 22px;
    width: 276px;
    height: 58px;
    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.button {
    background-color: #3B4FFF;
    color: #ffffff;
    font-weight: 800;
    font-size: 22px;
    width: 276px;
    height: 58px;
    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

button {
    margin: 0 auto;
}

button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
}

.title {
    font-size: 18px;
}

/* ===========================
question
============================ */

.message {
    font-size: 20px;
}

/* .lists {
    position: absolute;
} */
/* 
.checklists {
    position: relative;
    left: 200px;
} */

.list {
    font-size: 24px;
}

input[type=checkbox] {
	transform: scale(2.5);
	margin: 0 15px 12px 0;
}

/* ===========================
answer
============================ */

h3 {
    text-align: center;
    font-size: 20px;
}

.result_text {
    font-size: 24px;
}

.personal_result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* ===========================
footer
============================ */

footer {
    height: 52px;
}

.icons {
    float: left;
    line-height: 52px;
}

.copyright {
    float: right;
    line-height: 52px;
}