@charset "UTF-8";

/* ===========================
common
============================ */
body {
    color: #303030;
    line-height: 1.5;
    height: 100%;
    margin: 0px;
    padding: 0px ;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 60%;
    max-width: 980px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 62px;
}

p {
    text-align: center;
}

/* ===========================
header
============================ */

header {
    display: flex; 
    height: 60px;
}

/* ===========================
main
============================ */

.main {
    background-image:url(../img/background.png);
    background-size: cover;
    /* height: 716px; */
}

.main-copy {
    font-size: 22px;
}

.logo_image {
    height: 72px;
    width: 72px;
    margin: 0 auto;
}

.main-title {
    display: block;
}

.see {
    font-size: 22px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #3B4FFF;
    color: #ffffff;
    font-weight: 800;
    font-size: 22px;
    width: 276px;
    height: 58px;
    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.button {
    background-color: #3B4FFF;
    color: #ffffff;
    font-weight: 800;
    font-size: 22px;
    width: 276px;
    height: 58px;
    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

button:hover {
    opacity: 0.7;
    text-decoration: none;
}

button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
}

.title a:hover {
    text-decoration: none;
    color: black;
}


.button:hover {
    opacity: 0.7;
    text-decoration: none;
}

.title {
    font-size: 18px;
}

.diagnose {
    text-align:  center; 
}

/* ===========================
question
============================ */

.message {
    font-size: 20px;
}

.lists {
    display: block;
    width: 55%;
    margin: 0 auto;
}

.list {
    font-size: 24px;
}

input[type=checkbox] {
	transform: scale(2.5);
	margin: 0 15px 12px 0;
}

.button_cover {
    text-align:  center; 
}

.tweet {
    text-align:  center; 
}


/* ===========================
answer
============================ */

h3 {
    text-align: center;
    font-size: 16px;
}

.result_text {
    font-size: 24px;
}

.personal_result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* ===========================
footer
============================ */

footer {
    height: 52px;
}

.copyright {
    line-height: 52px;
}

.icons {
    float: left;
    line-height: 52px;
    margin-left: 150px;
}

.credit {
    font-size: 8px;
    color: gray;
}

/* ===========================
スマホ版
============================ */

@media only screen and (max-width: 1250px) {

    .clear::after {
        content: none !important;
    }

    /* ===========================
    common
    ============================ */

    h1 {
        font-size: 28px;
    }

    .icons {
        float: none;
        margin: 0 auto;
    }

    .checklists {
        display: flex;
        align-items: center;
    }

    .main {
        padding: 12px;
    }

    .container {
        width: 100%;
    }
    
    .lists {
        width: 100%;
    }

    .list {
        font-size: 20px;
    }

    input[type=checkbox] {
        transform: scale(2);
        margin: 0 15px 0px 0;
    }

    .button {
        width: 180px;
    }

    .result_text {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }
}