<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ぴよぴよエンジニア{% endblock %}</title>

        <!--  bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!--  stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

        <!-- 検索関連 -->
        <meta name="keywords" content="ぴよぴよエンジニア">
        <meta name="description" content="ぴよぴよエンジニア診断は、未経験からバックエンドエンジニアになる人向けの学習項目チェックリストです。たった1分であなたの学習到達度がわかります。">
        <meta name="author" content="© 2022 ぴよぴよエンジニア">
        <link rel="canonical" href="https://piyopiyo-engineer.net/">

        <!-- SNS関連 -->
        <!-- ogp -->
        <meta property="og:locale" content="ja_JP">
        <meta property="og:type" content="website">
        <meta property="og:title" content="ぴよぴよエンジニア診断">
        <meta property="og:description" content="ぴよぴよエンジニア診断は、未経験からバックエンドエンジニアになる人向けの学習項目チェックリストです。たった1分であなたの学習到達度がわかります。">
        <meta property="og:image" content="https://piyopiyo-engineer.net/static/img/sns.png">
        <meta property="og:image:alt" content="ぴよぴよエンジニア診断">
        <meta property="og:url" content="https://piyopiyo-engineer.net/">
        <meta property="og:site_name" content="ぴよぴよエンジニア診断">
        <!-- facebook -->
        <meta property="fb:app_id" content="https://piyopiyo-engineer.net/static/img/sns.png">
        <!-- twitter card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="ぴよぴよエンジニア診断"/>
        <meta name="twitter:description" content="ぴよぴよエンジニア診断は、未経験からバックエンドエンジニアになる人向けの学習項目チェックリストです。たった1分であなたの学習到達度がわかります。" />
        <meta name="twitter:image" content="https://piyopiyo-engineer.net/static/img/sns.png">
        <!-- <meta name="twitter:site" content="@piyo" /> -->
        <!-- <meta name="twitter:creator" content="@shigoto_cafe"> -->

        <!-- icon -->
        <link rel="favicon" href="{{url_for('static', filename='img/favicon.ico')}}">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='img/apple-touch-icon.svg')}}">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='img/android-chrome-192x192.svg')}}">

    </head>
    <body>
        {% block content %}
        {% endblock %}
        <footer>
            <div class="icons clear">
                <p>Icons made by <a href="https://www.flaticon.com/free-icons/chick" title="chick icons">Chick icons created by Freepik - Flaticon</a></p>
            </div>
            <div class="footer">
                <p class="copyright">&copy; 2022 ぴよぴよエンジニア</p>
            </div>
        </footer>
    </body>
</html>