{% extends "base.html" %}
{% block title %}ぴよぴよエンジニア診断{% endblock %}
{% block content %}
<section class="main p-5">
    <div class="container">
        <p class="main-copy">未経験からバックエンドエンジニアになる人向け<br>
        学習項目チェックリスト
        </p>
        <div class="title-area m-4">
            <h1 class="m-5">ぴよぴよエンジニア診断🐣</h1>
            <!-- <img src="./img/logo_image.png" alt="ぴよぴよエンジニア診断" class="logo_image"> -->
        </div>

        <div class="subcopy m-3">
            <p class="see">たった1分でわかる</p>
        </div>

        <h2>あなたの学習到達度</h2>

        <p class="mt-5 mb-3">勉強しているけれど、勉強すべき項目がわからない……<br>
        ちゃんと前進できているのか不安……<br>
        そんな悩みを解決します！</p>

        <button class="diagnose m-5"><a href="{{ url_for('get') }}">今すぐ無料診断</a></button>
    </div>
</section>
{% endblock %}